<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalculatorX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>339CB64D1E706C5100D97624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339CB6611E706C5100D97624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339CB66C1E706C5100D97624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
